<div>
	<div class="modal-header">
		<h4 class="modal-title">Cadastro de alimento</h4>
	</div>

	<div class="modal-body">

		<div class="form">

			<div class="form-group">
				<label for="nome">Nome do alimento</label>
				<input type="text" class="form-control mb-2" id="nome" [(ngModel)]="nome" name="nome">
				</div>

				<label for="nome">Unidade</label>
				<select [(ngModel)]="selectedItem" (change)="onItemChange()" class="form-group p-2 mb-2">
					<option value="" disabled selected>Selecione uma unidade</option>
					<option *ngFor="let item of items" [value]="item.id">{{ item.nome }}</option>
			</select>
		</div>


	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary border-black" (click)="closeModal()">Fechar</button>
		<button *ngIf="selectedItem && nome" type="button" class="btn btn-primary border-black" (click)="salvarAlimento()">Salvar</button>
</div>
